<% @notat.each do |t| %>
    <div class="post-preview">
            <a href= <%= document_path(t) %> >
              <h2 class="post-title">
                <%= t.filename %>
              </h2>
              <h3 class="post-subtitle">
                <%= t.description %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#"><%= user(t.user_id).email %></a>
              on <%= note(t.id).created_at %></p>
          </div>
          <hr>
<% end %>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older notes &rarr;</a>
          </div>
