<div class="post-preview    ">
    <h1 class="post-title">
        <%= document(params)[:filename] %> </br>
    </h1>
    <p class="post-meta">
    <%= document(params)[:description] %>
    </p>
</div>

<%= render '/comments/form' %>

<p>Comments:</p>

<%= render "/comments/comment" %>
         
    <Button class="btn">
        <%= link_to 'Tilbake', '/notat' %>
    </Button>
</div>