<h1>Document:</h1>

<%= @document[:data] %>

<p>Comments:</p>

<% @comments.each do |c| %>

    <%= c.text %>
    <%= c.created_at %> </br>
    <p>Kommentert av: </p>
    <%= @username.email %>

<% end %> </br>

<%= link_to 'Tilbake', '/notat' %>