<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p id="notice"><%= notice %></p>
            <%= form_for(:signin) do |f| %>
                <div class="form-group">
                    <%= f.label :Epost %><br>
                    <%= f.text_field :email, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :passord %><br>
                    <%= f.password_field :password, required: true %>
                </div>
                <Button class="btn">
                    Logg inn
                    <% f.submit :'Logg in', html: { class: "btn" }%>
                </Button>
                <div class="btn">
                <Button class="btn">
                    <%= link_to 'Registrer', '/users/new' %>
                </Button>
                </div>
            <% end %>
        </div>
      </div>
    </div>
