<%= form_for(newComment) do |f| %>
  <% if newComment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newComment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% newComment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:document_id, value: params[:format]) %>
  <%= f.hidden_field(:user_id, value: session[:id]) %>

  <div class="form-group">
    <%= f.text_field :text %>
  </div>
  <Button class="btn">Create comment
    <% f.submit %>
  </Button>
<% end %>
