<!DOCTYPE html>
<html>
<head>
  <title>Student</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless request.env['PATH_INFO'] == '/login' %>
  <nav>
    <ul>
      <%= link_to 'Profil', '/profil' %> |
      <%= link_to 'Notater', '/notat' %> |
      <%= link_to 'Logg ut', '/logout' %>
    </ul>
  </nav>
<% end %>
<div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
